/* <div id="product-list">
            <div class="product-groups" */

/* LISTA DE GRUPOS */
#product-list {
  width: var(--list-width);
  height: 320px;
  width: 100%;
  min-width: var(--min-width);
  overflow-y: scroll;
  overflow-x: scroll;
  scrollbar-gutter: stable;
}

#product-list a,
#product-list a:link,
#product-list a:visited {
  color: #666;
  text-decoration: none;
}

#product-list a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 762px) {
  #product-list {
    width: var(--list-width);
    height: 320px;
    width: 100%;
    min-width: unset;
  }
}

.product-groups a {
  background-color: #eeeeee;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  height: 40px;
  font-size: 16px;
  text-align: left;
  color: #000;
  width: 226px;
  _width: 230px;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #666;
  width: var(--list-width);
}

#product-list a:hover {
  text-decoration: underline;
  background-color: #e1e1e1;
}

/* LISTA DE PRODUTOS E ALIMENTOS */

.line {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  color: #000;
  width: 100%;
  min-width: var(--min-width);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: auto;
  scrollbar-gutter: stable;
  max-height: 400px;
}

@media screen and (max-width: 762px) {
  .line {
    height: 320px;
    width: 100%;
    min-width: unset;
  }
}

.line-warpper {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: var(--min-width);
}

#select {
  min-width: var(--min-width);
}

.food {
  background-color: #336699;
  color: #fff;
  padding: 2px;
  height: 30px;
  border-left: #eeeeee 1px solid;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.food.name {
  width: 300px;
  display: flex;
  justify-content: center;
}
.food.qtd {
  width: 70px;
  display: flex;
  justify-content: center;
}

.food.calories,
.food.proteins,
.food.carbohydrates,
.food.fats {
  width: 95px;
}

.food-item.name a,
.food-item.name a:link,
.food-item.name a:visited,
.food-item.qtd a,
.food-item.qtd a:link,
.food-item.qtd a:visited,
.food-item.calories a,
.food-item.calories a:link,
.food-item.calories a:visited,
.food-item.proteins a,
.food-item.proteins a:link,
.food-item.proteins a:visited,
.food-item.carbohydrates a,
.food-item.carbohydrates a:link,
.food-item.carbohydrates a:visited,
.food-item.fats a,
.food-item.fats a:link,
.food-item.fats a:visited {
  color: #666;
  text-decoration: none;
}

.food-item {
  background-color: #eeeeee;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  height: 50px;
  font-size: 16px;
  text-align: left;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  box-sizing: border-box;
}

.food-item.name {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.food-item.qtd {
  width: 70px;
}

.food-item.calories,
.food-item.proteins,
.food-item.carbohydrates,
.food-item.fats {
  width: 95px;
}

/* RESULTADO CALCULO */

#result {
  width: var(--list-width);
  display: flex;
  height: 200px;
  padding: 10px;
  justify-content: flex-start;
  overflow: auto;
}

.result-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  min-height: 50px;
}
.result-item p {
  margin: 0px;
}

@media screen and (max-width: 762px) {
  #result {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (max-width: 762px) {
  .result-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    min-height: 50px;
  }
}

/* RESULTADO ALIMENTOS */

.food-item.selected.name {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.food-item.selected.name a,
.food-item.selected.name a:link,
.food-item.selected.name a:visited,
.food-item.selected.qtd a,
.food-item.selected.qtd a:link,
.food-item.selected.qtd a:visited,
.food-item.calories a,
.food-item.calories a:link,
.food-item.calories a:visited,
.food-item.proteins a,
.food-item.proteins a:link,
.food-item.proteins a:visited,
.food-item.carbohydrates a,
.food-item.carbohydrates a:link,
.food-item.carbohydrates a:visited,
.food-item.fats a,
.food-item.fats a:link,
.food-item.fats a:visited {
  color: #666;
  text-decoration: none;
}

.food-item.selected.qtd.input {
  width: 70px;
  background-color: transparent;
}

input {
  width: 100%;
  height: 95%;
  font-size: 18px;
  border: none;
  border-bottom: 1px #666 solid;
}

.food.calories,
.food.proteins,
.food.carbohydrates,
.food.fats {
  width: 95px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
  -moz-appearance: number-input;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button;
  opacity: 1;
  transform: scale(1.5);
  transform-origin: center;
}
